<%- include ../partials/header.ejs %> <%- include ../partials/main_nav.ejs %>

<!-- Main Content of projects page -->
<main class="container">
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <h1 class="business-title"><%= title %></h1>
      <a href="/business/add" class="Businessbtn btn btn-primary" role="button">
        <i class="fas fa-plus-circle"></i>Add Business
      </a>
      <br />

      <table class="table table-bordered table-striped table-hover table-dark">
        <!-- Header Row-->
        <tr class="d-flex">
          <th class="text-center col-2">Name</th>
          <th class="text-center col-4">Email</th>
          <th class="text-center col-2">Contact</th>
          <th class="text-center col-4"></th>
        </tr>

        <!-- Repeatable Template Row -->
        <% for(let count = 0; count < Business.length ; count++) { %>
        <tr class="d-flex">
          <td class="text-center col-2"><%=Business[count].name %></td>
          <td class="text-center col-4"><%= Business[count].email %></td>
          <td class="text-center col-2"><%= Business[count].contact %></td>
          <td class="text-center col-2">
            <a
              href="/business/edit/<%= Business[count]._id %>"
              class="Businessbtn btn btn-primary btn-sm"
              ><i class="fas fa-pencil-alt"></i>Edit</a
            >
          </td>
          <td class="text-center col-2">
            <a
              href="/business/delete/<%= Business[count]._id %>"
              class="Businessbtn btn btn-danger btn-sm"
              ><i class="fas fa-trash-alt"></i>Delete</a
            >
          </td>
        </tr>
        <% } %>
      </table>
    </div>
  </div>
</main>
<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>
