<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main Content of projects page -->
<main class="container">
  <div class="row">
    <div class="offset-md-2 col-md-10">
      <h1 class="business-title"><%= title %></h1>
      <br />
      <table class="table table-bordered table-striped table-hover table-dark">
        <!-- Header Row-->
        <tr class="d-flex">
          <th class="text-center col-2">name</th>
          <th class="text-center col-5">email</th>
        </tr>

        <!-- Repeatable Template Row -->
        <% for(let count = 0; count < User.length ; count++) { %>
        <tr class="d-flex">
          <td class="text-center col-2"><%=User[count].name %></td>
          <td class="text-center col-5"><%= User[count].email %></td>
          <td class="text-center col-5">
            <button type="button">Update</button>
            <button type="button">Delete</button>
          </td>
        </tr>
        <% } %>
        <button type="button">Add</button>
      </table>
    </div>
  </div>
</main>
<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
